{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h1>About</h1>
        <p>Welcome to College Park Restaurant Finder! Select from over 10 restaurants in the College Park, MD area. Create an account to leave ratings and reviews, as well as save favorite locations for future reference. This website support 10+ local restaurants, ranging from small Boba shops to full-fledged restaurants like Looney's.</p>
        <p>Group Members: Michael Reeve</p>
    </div>
</div>
{% endblock %}>