{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h1>{{ current_user.username }}'s Favorite Restaurants: </h1>
    </div>
</div>
<div class="row justify-content-center">
        {% if restaurants %}
            {% for restaurant in restaurants %}
            <div class="col-auto my-2">
                <a class="card-a" href="{{url_for('restaurants.restaurant_detail', id=restaurant.restaurant_id)}}">
                    <div class="card card-res" style="width: 18rem; overflow:hidden">
                        <div class="card-img-wrapper" style="overflow:hidden; height:160px">
                            <img class="card-img-top" src="{{ url_for('static', filename=restaurant.restaurant_id + '.jpg')}}" alt="{{"Image of" + restaurant.restaurant_name}}">
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-8 p-0">
                                    <h5 class="card-title">{{ restaurant.restaurant_name }}</h5>
                                    </div>
                                    <div class="col p-0">
                                        <h6 class="card-subtitle text-success" style="margin: 0 auto; text-align:right">
                                            <span>{{restaurant.price * '$'}}</span><span class="text-muted">{{(4 - restaurant.price) * '$'}}</span>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            
                            <h6 class="card-subtitle mb-2 text-muted">{{restaurant.type}}</h6>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        {% else %}
            <div class="col-auto">
            <h3>{{current_user.username}} has no favorites!</h3>
            </div>
        {% endif %}
</div>
{% endblock %}>